<div #img>
<mat-card class="item-card">
    <mat-card-header class="bg-primary">
        <mat-card-title>{{image?.title}}</mat-card-title>
    </mat-card-header>
    <img  [src]="image?.media?.m" (load)="calculateRows()" />
    <mat-card-content>
        <p>{{image?.description}}</p>
        <p class="text-p">Author:<a [routerLink]="['/users', image?.author_id?.concat(';')?.concat(image?.author || '')]" routerLinkActive="active">{{image?.author}}</a></p>
        <mat-chip-list  aria-label="Tags">
            <mat-chip *ngFor="let tagItem of image?.tags?.split(' ')" color="accent">
                <a (click)="tagClicked(tagItem)">{{tagItem}}</a>
            </mat-chip>
        </mat-chip-list>
       
        <a [href]="image?.link"  class="open-original" target="_blank" mat-raised-button color="primary">Open original</a>
    </mat-card-content>
</mat-card>

</div>